$font-stack: 'Montserrat', Arial, sans-serif;

$grey: rgba(158, 158, 158, 1);
$magenta: rgba(233, 30, 99, 1);
$blue: rgba(3, 169, 244, 1);
$green: rgba(50, 205, 50, 1);
// $gold: rgba(255, 193, 7, 1);

$logo-image: url("../images/logo-edx-optimized-knockout.svg");
$text-shadow: rgba(0, 0, 0, 0.2);

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#ripple-container {
    overflow: hidden;
    position: relative;

    height: 100%;
    width: 100%;
    background: $grey;
}

.circle {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;

    -webkit-animation: ripple 2s;
}

.registration {
    background: $magenta;
}

.enrollment {
    background: $blue;
}

.payment {
    background: $green;
}

@-webkit-keyframes ripple {
    from {
        -webkit-transform: scale(0.2);
        opacity: 0.6;
    }
    to {
        -webkit-transform: scale(100);
        opacity: 0;
    }
}

#logo {
    z-index: 2;
    bottom: 14px;
    right: 22px;
    position: absolute;

    a {
        display: block;
        padding-left: 60px;
        background: $logo-image left bottom no-repeat;
        background-size: 61px 35px;
        text-decoration: none;
    }

    span {
        display: inline-block;
        vertical-align: bottom;
        color: #fff;
        font: 21px $font-stack;
        line-height: 32px;
        margin-left: 7px;
        text-shadow: 0 1px 0 $text-shadow;
        -webkit-font-smoothing: antialiased;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        top: 9px;
        right: 12px;
        bottom: auto;
    }
}
